# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Environment files
# =========================
.env
venv/
env/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Data outputs (optional)
# =========================
# Uncomment if needed
# outputs/*.csv
# outputs/*.png